<section class="px-8 py-14">
  <article class="flex flex-col gap-24">
    <div class="flex flex-col gap-4">
      <small
        class="bg-gray-100 text-gray-700 w-fit py-1 px-2 rounded-full text-xs"
        >For Employer's</small
      >
      <div class="flex items-end justify-between">
        <div>
          <h1 class="font-slab text-6xl font-medium">
            Stop Interviewing the <br /> wrong people
          </h1>
          <p class="max-w-[640px] pt-4">
            Great CVs are easy to find. Great hires aren't. At Goodwin, every
            candidate you meet has already been vetted by a recruiter who's
            worked in your industry.
          </p>
        </div>
        <button
          class="bg-[#1c15e0] text-white text-lg w-fit px-6 py-3 rounded-full"
          >Tell us who you are looking for</button
        >
      </div>
    </div>
    <div class="flex justify-between">
      <div
        class="flex flex-col gap-4 px-6 py-8 bg-[#f8f8f8] rounded-lg border border-gray-200"
      >
        <h1 class="font-slab font-medium text-[36px] leading-10">
          They Know <br /> Your word
        </h1>
        <img src="/employercard-1.png" class="mix-blend-luminosity" />
        <p class="max-w-[392px]">
          Your recruiter has worked in your industry. No onboarding them on what
          the role involves. They already know.
        </p>
      </div>
      <div
        class="flex flex-col gap-4 px-6 py-8 bg-[#f8f8f8] rounded-lg border border-gray-200"
      >
        <h1 class="font-slab font-medium text-[36px] leading-10">
          You only see<br /> the best fits
        </h1>
        <img src="/employercard-2.png" class="mix-blend-luminosity" />
        <p class="max-w-[392px]">
          No bulk submissions. Just a tight shortlist of candidates who are
          genuinely right for the role and the team.
        </p>
      </div>
      <div
        class="flex flex-col gap-4 px-6 py-8 bg-[#f8f8f8] rounded-lg border border-gray-200"
      >
        <h1 class="font-slab font-medium text-[36px] leading-10">
          Hire Now <br /> Pay after
        </h1>
        <img src="/employercard-3.png" class="mix-blend-luminosity" />
        <p class="max-w-[392px]">
          Our exclusive payment model lets you bring the right person on board
          now and spread the cost over time.
        </p>
      </div>
    </div>
  </article>
</section>
