<footer class="pt-14">
  <article class="flex flex-col items-center gap-2">
    <h1 class="text-6xl font-slab font-medium text-center">
      Building a team or <br /> building a career?
    </h1>
    <p class="text-gray-700">
      We've done this across 12+ industries. We can do it for you.
    </p>
    <div class="flex items-center gap-2">
      <button class="bg-[#F18A00] text-white px-6 py-2 font-slab rounded-full"
        >Find Your Next Role</button
      >
      <button class="bg-[#1c15e0] text-white px-6 py-2 font-slab rounded-full"
        >Find Talent</button
      >
    </div>
    <img src="/footer_img.png" alt="Footer Image" />
    <div class="grid grid-cols-5 py-4 w-full px-16">
      <div>
        <img src="/logo_black.png" class="w-48" alt="recruiter_logo" />
        <div class="icon-cta">
          <p>Linkedin</p>
          <p>Glasdoor</p>
          <p>Indeed</p>
        </div>
      </div>
      <ul class="flex flex-col gap-2">
        <li><a>Job Seekers</a></li>
        <li><a>Search Jobs</a></li>
        <li><a>Find recruiter</a></li>
      </ul>
      <ul class="flex flex-col gap-2">
        <li><a>Hire Now. Pay After</a></li>
        <li><a>Find Talents</a></li>
        <li><a>Industries We Serve</a></li>
      </ul>
      <ul class="flex flex-col gap-2">
        <li><a>Join HireRight</a></li>
        <li><a>Refer a Friend</a></li>
        <li><a>Our Stories</a></li>
      </ul>
      <ul class="flex flex-col gap-2">
        <li><a>Blogs</a></li>
        <li><a>News & Press</a></li>
        <li><a>Contact Us</a></li>
      </ul>
    </div>
  </article>
</footer>
