<section class="px-8 py-14">
  <article class="flex flex-col gap-24">
    <div class="flex flex-col gap-4">
      <small
        class="bg-gray-100 text-gray-700 w-fit py-1 px-2 rounded-full text-xs"
        >For Job Seeker's</small
      >
      <div class="flex items-end justify-between">
        <div>
          <h1 class="font-slab text-6xl font-medium">
            Your next role deserves <br /> more than a job board.
          </h1>
          <p class="max-w-[640px] pt-4">
            You deserve a recruiter who actually calls you back.
          </p>
        </div>
        <button
          class="bg-[#1c15e0] text-white text-lg w-fit px-6 py-3 rounded-full"
          >Show Me What's Out There</button
        >
      </div>
    </div>
    <div class="flex justify-between">
      <div
        class="flex flex-col gap-4 px-6 py-8 bg-[#f8f8f8] rounded-lg border border-gray-200"
      >
        <h1 class="font-slab font-medium text-[36px] leading-10">
          Someone who gets <br /> what you do.
        </h1>
        <img src="/jobseekercard-1.png" class="mix-blend-luminosity" />
        <p class="max-w-[392px]">
          Your recruiter comes from your industry. They know what your
          experience is worth and how to tell that story to the right employers.
        </p>
      </div>
      <div
        class="flex flex-col gap-4 px-6 py-8 bg-[#f8f8f8] rounded-lg border border-gray-200"
      >
        <h1 class="font-slab font-medium text-[36px] leading-10">
          Roles you won't find <br /> anywhere else.
        </h1>
        <img src="/jobseekercard-2.png" class="mix-blend-luminosity" />
        <p class="max-w-[392px]">
          A lot of what we work on never gets advertised. You get access before
          the job goes public.
        </p>
      </div>
      <div
        class="flex flex-col gap-4 px-6 py-8 bg-[#f8f8f8] rounded-lg border border-gray-200"
      >
        <h1 class="font-slab font-medium text-[36px] leading-10">
          No ghost jobs. <br /> No wasted interviews.
        </h1>
        <img src="/jobseekercard-3.png" class="mix-blend-luminosity" />
        <p class="max-w-[392px]">
          We won't put you forward for something that isn't right. Every role we
          bring you is one we'd take seriously ourselves.
        </p>
      </div>
    </div>
  </article>
</section>
