---

---

<nav class="fixed top-2 left-0 z-50 w-full">
  <div
    class="max-w-[1200px] rounded-xl px-3 py-2 flex items-center justify-between w-full mx-auto bg-black text-white"
  >
    <aside class="flex items-center gap-6">
      <h1 class="font-medium text-lg">Right Hire</h1>
      <ul class="flex items-center gap-2 text-sm text-gray-300">
        <li><a>For Employers</a></li>
        <li><a>For Job Seekers</a></li>
        <li><a>Industries</a></li>
        <li><a>Meet Our Recruiters</a></li>
        <li><a>Join Goodwin</a></li>
      </ul>
    </aside>
    <div>
      <button
        class="bg-[#1c15e0] px-4 py-1 rounded-xl text-white font-medium text-sm"
      >
        Find Talent
      </button>
      <button
        class="bg-white px-4 py-1 rounded-xl text-black font-medium text-sm"
      >
        Find a Job
      </button>
    </div>
  </div>
</nav>
