---

---

<nav class="fixed top-1 left-0 z-50 w-full">
  <div
    class="w-full px-8 py-2 flex items-center justify-between w-full mx-auto text-white bg-[#1C15E0]"
  >
    <aside class="flex items-center gap-6">
      <img src="/logo_white.png" alt="company-logo" class="w-40" />
      <ul class="flex items-center gap-2 text-sm text-gray-100">
        <li><a>For Employers</a></li>
        <li><a>For Job Seekers</a></li>
        <li><a>Industries</a></li>
        <li><a>Meet Our Recruiters</a></li>
        <li><a>Join Us</a></li>
      </ul>
    </aside>
    <div>
      <button
        class="bg-[#F18A00] px-4 py-1 rounded-xl text-white font-medium text-sm font-slab"
      >
        Find Talent
      </button>
      <button
        class="bg-white px-4 py-1 rounded-xl text-[#1C15E0] font-medium text-sm font-slab"
      >
        Find a Job
      </button>
    </div>
  </div>
</nav>
