---
---
<section class="bg-white">
<article class="py-4">
  <div class="flex items-center justify-between font-light  px-8">
    <p>Recoginzed by Forbes</p>
    <p>Experts in 12+ Industries</p>
    <p>Direct Only Hire's</p>
    <p>Peers, not Strangers</p>
  </div>
</article>
</section>
